@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

// font-family: 'Red Hat Text', sans-serif;

* {
    box-sizing: border-box;
}

body {
    font: 700 14px/1 'Red Hat Text', sans-serif;
    background: url(../images/bg-stars.svg), hsl(249, 18%, 12%);
    height: 100vh;
    margin: 0;
}

main {
    height: 100vh;
    background: url(../images/pattern-hills.svg) no-repeat 0 bottom;
    background-size: contain;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20vh;
}

h1 {
    margin-bottom: 100px;
    color: #fff;
    text-transform: uppercase;
}

.countdown {
    display: flex;
    flex-flow: row nowrap;
}

.time-elem {
    position: relative;
    margin-right: 20px;
    color: hsl(345, 95%, 68%);
    position: relative;
    height: 80px;
    width: 100px;
    background-color: hsl(235, 20%, 25%);
    border-radius: 8px;
    text-align: center;
    font-size: 5em;
    overflow: hidden;
}

.time-elem::before, .time-elem::after {
    content: '';
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    background: #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.time-elem::before {
    left: -5px;
}

.time-elem::after {
    right: -5px;
}

.time-elem > span {
    posiiton: absolute;
    left: 0;
    right: 0;
}

.top {
    z-index: 3;
    background-color: hsl(240, 21%, 21%);
    transform-origin: 50% 100%;
    transform: perspective(200px);
}